@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;900&display=swap');


html,
body {
  font-family: 'Inter', sans-serif;
  background-color: #eefbfb;
  min-width: 75%;
}

.appbar {
  background-color: #12232e;
  display: flex;
  flex-direction: row;
  box-shadow: 0 1px 24px 0 rgba(32, 32, 32, 0.75);
  margin-bottom: 1rem;
  text-align: center;
  justify-content: space-around;
}

.logo {
  width: 15%;
  margin: 1rem;
}

.subtitle {
  align-self: center;
  font-size: 1.2rem;
  color: #eefbfb;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

.wrapper {
  width: 90%;
  margin: 2rem auto;
  background: #4da8da;
  padding: 2em;
  box-shadow: 0 1px 24px 0 rgba(32, 32, 32, 0.75);
}

h1 {

  font-size: 2em;
  text-transform: uppercase;
  font-weight: 600;
  color: #12232e;
  border-bottom: 1px solid#12232E;
  margin: 1rem;
  text-align: center;
}

/* Dog Cards*/
.container {
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  margin: 0.5rem;

  min-height: 16rem;
  max-width: 22rem;

  cursor: pointer;
}

.container .card .face {
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1 {
  transform: translateY(0);
}

.container .card .face.face1 .content {
  transition: 0.5s;
}

.container .card .face.face1 .content img {
  height: 16rem;
  width: 22rem;
}

.container .card .face.face1 .content h3 {
  font-weight: 600;
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2 {
  background: #007cc7;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: auto;
  padding: 0.5rem;
  align-self: center;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
}

/* Botão adopt*/
@font-face {
  font-family: "FontAwesome";
  src: url("https://use.fontawesome.com/releases/v5.0.6/css/all.css");
}

.btn-1 {
  text-decoration: none;
  background: #4da8da;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative;
  display: flex;
}

.btn-1::after {
  content: "\f054";
  font-family: "FontAwesome";
  font-weight: 400;
  position: absolute;
  left: 85%;
  top: 31%;
  right: 5%;
  bottom: 0;
  opacity: 0;
}

.btn-1:hover {
  background: #203647;
  transition: all 0.5s;
  border-radius: 10px;
  box-shadow: 0px 6px 15px #12232e;
  padding: 1.5rem 3.5rem 1.5rem 1.5rem;
}

.btn-1:hover::after {
  opacity: 1;
  transition: all 0.5s;
}

/* Cartões de adoção */
.container_adoptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1.5rem;

  min-height: 100vh;
}

h3 {
  font-weight: 600;
  margin: 10px 0;
}

h6 {
  font-weight: 600;
  margin: 5px 0;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 21px;
}

.url {
  width: 90%;
  margin-right: 14rem;
  cursor: pointer;
  text-decoration: none;
  text-indent: initial;
  color: #ffffff;
  overflow-wrap: break-word;
}

.url:hover {
  color: #4da8da;
}

.card-container {
  background-color: #12232e;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #eefbfb;
  padding-top: 2rem;
  width: 45%;
  height: 25%;
  min-width: 18rem;
  text-align: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 1.5rem;
}

.card-container .round {
  border: 1px solid #4da8da;
  border-radius: 50%;
  padding: 7px;
  height: 18rem;
  width: 18rem;
}

.skills {
  background-color: #203647;
  text-align: left;
  padding: 1rem;
  margin-top: 1.5rem;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 0.1rem solid #4da8da;
  border-radius: 2px;
  display: inline-block;
  font-size: 0.75rem;
  margin: 0 7px 7px 0;
  padding: 7px;
}

/* Lista de informações*/

.items-body {
  padding: 0.5rem;
  margin: 0.5rem;
  display: grid;
  grid-gap: 0.5rem;
}

.items-body-content {
  padding: 0.5rem;
  display: grid;
  font-size: 0.75rem;
  grid-gap: 10px;
  border: 1px solid transparent;
  text-align: left;
}

.items-body-content:hover {
  border-radius: 15px;
  border: 1px solid #0b5aa2;
}

.items-body-content i {
  align-self: center;
  font-size: 15px;
  color: #0b5aa2;
  font-weight: bold;
}

/* Update button */

.update_button_conteiner {
  width: auto;
  display: flex;
  align-items: center;
  margin: 0.3rem;
  justify-content: space-evenly;
}

.button {
  width: 200px;
  height: 36px;
  border-radius: 10px;
  background-color: #4da8da;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}

.button:hover {
  background-color: #12232e;
  border-color: #fff;
  transition: all 0.1s ease-in-out;
}

/* Heart button */
.heart-conteiner {
  display: flex;
  margin-left: 2rem;
}

.like-button {
  display: inline-block;
  position: relative;
  font-size: 32px;
  cursor: pointer;
  border: 1px solid black;
}

.like-button::before {
  font-size: 3em;
  color: #000;
  content: "♥";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.like-button::after {
  font-size: 3em;
  color: #ff3252;
  content: "♥";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s;
}

.like-button.liked::after {
  transform: translate(-50%, -50%) scale(1.1);
}

/* Heart button 2*/
.like-button2 {
  display: inline-block;
  position: relative;
  font-size: 32px;
  cursor: pointer;
  border: 1px solid black;
}

.like-button2::before {
  font-size: 3em;
  color: #ff3252;
  content: "♥";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.like-button2::after {
  font-size: 3em;
  color: #000;
  content: "♥";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s;
}

.like-button2.liked::after {
  transform: translate(-50%, -50%) scale(1.1);
}
