{% extends "dogs/base.html" %}
{% load static %}

{% block content %}
<main class="container_adoptions">
<div class="card-container">
	<img class="round" src="https://images.dog.ceo/breeds/hound-afghan/n02088094_11432.jpg" alt="user" />
	<h3>Juca</h3>
	<h6>New York</h6>
	<p>Dog adoption informations</p>
	<div class="skills">
		<h6>Characteristics</h6>
		<ul>
			<li>Cute</li>
			<li>Intelligent</li>
			<li>Large</li>
			<li>Playful</li>
			<li>Happy</li>
			<li>Affectionate</li>
		</ul>
	</div>
</div>
</main>
{% endblock %}