{% extends "dogs/base.html" %} {% load static %} {% block content %}
<h1>Favorites</h1>
<main class="container_adoptions">
  {% for adoption in adoptions %}
  <div class="card-container">
    <img class="round" src="{{adoption.img_url}}" alt="user" />
    <h3>{{adoption.name}} - {{adoption.status}}</h3>
    <h6>{{adoption.breed_primary}} | {{adoption.breed_secondary}}</h6>
    <div class="items-body">
      <div class="items-body-content">
        <span>Adoption site:</span>
        <a href="{{adoption.adoption_url}}" class="url">{{adoption.adoption_url}}</a>
      </div>
      <div class="items-body-content">
        <span>Gender: {{adoption.gender}}</span>
      </div>
      <div class="items-body-content">
        <span>Age: {{adoption.age}}</span>
      </div>
      <div class="items-body-content">
        <span>Size: {{adoption.size}}</span>
      </div>
      <div class="items-body-content">
        <span
          >Location: {{adoption.city}}({{adoption.state}}) -
          {{adoption.adress}}</span
        >
      </div>
      <div class="items-body-content">
        <span>Postcode: {{adoption.postcode}}</span>
      </div>
      <div class="items-body-content">
        <span>Phone: {{adoption.phone}}</span>
      </div>
    </div>
    <div class="skills">
      <h6>Informations</h6>
      <ul>
        <li>Spayed neutered: {{adoption.spayed_neutered}}</li>
        <li>House trained: {{adoption.house_trained}}</li>
        <li>Special needs: {{adoption.special_needs}}</li>
        <li>Shots Current: {{adoption.shots_current}}</li>
      </ul>
    </div>
  </div>
  {% endfor %}
</main>
{% endblock %}
