{% extends "dogs/base.html" %} {% load static %} {% block content %}
<div class="wrapper">
  <h1>Fun fact about dogs</h1>
  <a class="fun_fact_text">{{fun_fact}}</a>
</div>
<div class="buttons-conteiners">
  <form method="post" class="update_button_conteiner">
    {% csrf_token %}
    <input type="hidden" value="update_photos" name="update" />
    <button class="button" type="submit">Update pictures</button>
  </form>
  <form method="post" class="update_button_conteiner">
    {% csrf_token %}
    <input type="hidden" value="update_adoptions" name="update" />
    <button class="button" type="submit">Update adoptions</button>
  </form>
</div>
<main class="container">
  {% for dog in dogs %}
  <div class="card">
    <div class="face face1">
      <div class="content">
        <img src="{{dog.img_url}}" />
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>{{dog.breed}}</p>
        <a href="{% url 'adoptions' breed=dog.breed %}" class="btn-1"
          >Adopt One :)</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</main>
{% endblock %}
